<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1009013547142-qa7l4tb0m754i0ei1s3cbe11h7oc2bav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009013547142-qa7l4tb0m754i0ei1s3cbe11h7oc2bav</string>
	<key>API_KEY</key>
	<string>AIzaSyBbieMsxl8OjkGMLQDoM4VnDs8f5Zen054</string>
	<key>GCM_SENDER_ID</key>
	<string>1009013547142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StudentLink.StudentLink</string>
	<key>PROJECT_ID</key>
	<string>studentlink-938a2</string>
	<key>STORAGE_BUCKET</key>
	<string>studentlink-938a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009013547142:ios:1d1c22f22b7cd2cf</string>
	<key>DATABASE_URL</key>
	<string>https://studentlink-938a2.firebaseio.com</string>
</dict>
</plist>